<div class="details__content">

  <div *ngIf="data?.type === 'org'" class="orgDetails">
    <h1>{{data?.details?.name}}</h1>

    <div class="orgMain">

      <div class="orgTeams" *ngIf="orgTeams.length">
        <table>
          <tr class="headers">
            <th>Teams</th>
          </tr>

          <tr *ngFor="let team of orgTeams" (click)="this.data = { type: 'team', details: team }; getTeamPlayers()">
            <td>{{team?.name}}</td>
          </tr>
        </table>
      </div>

      <div class="orgAnnouncements">
        <h3>Announcements</h3>
        <button class="create" (click)="createAnnouncement()" *ngIf="user?.access_level > 1">Create new announcement</button>

        <ul *ngIf="announcements?.length">
          <li *ngFor="let announcement of announcements">
            <button *ngIf="user?.access_level > 1" (click)="deleteAnnouncement(announcement)">Delete</button>
            <h4>{{announcement?.title}}</h4>
            <span class="author">{{announcement?.author}}</span>
            <span class="body">{{announcement?.body}}</span>
            <span class="date">{{announcement?.creation_date}}</span>
          </li>
        </ul>
      </div>

    </div>

  </div>

  <div *ngIf="data?.type === 'match'" class="matchDetails">

    <div class="matchUp">
      <span [ngClass]="{'winner': data?.details?.winner === 1}">{{data?.details?.team1_name}}</span>
      vs
      <span [ngClass]="{'winner': data?.details?.winner === 2}">{{data?.details?.team2_name}}</span>
    </div>

    <button class="addWinner" [hidden]="user.access_level < 2 || data?.details?.winner !== 0" [ngbPopover]="result" [autoClose]="false" placement="auto" #resultPopover="ngbPopover">Add Winner</button>

    <ng-template #result>
      <form (submit)="updateMatchOutcome($event, winner.value); resultPopover.close()">
        <select #winner>
          <option [value]="1">{{data?.details?.team1_name}}</option>
          <option [value]="1">{{data?.details?.team2_name}}</option>
        </select>
        <input type="submit" value="Save">
      </form>
    </ng-template>

    <div class="matchSpecifics">
      <span>{{data?.details?.location}}</span>
      <span>{{data?.details?.match_date}}</span>
      <span *ngIf="data?.details?.tournament">{{data?.details?.tournament}}</span>
    </div>

    <div class="bets">
      <div class="place" *ngIf="data?.details?.winner === 0">
        <button *ngIf="!openBets" (click)="openBets = !openBets">Place bet</button>

        <form *ngIf="openBets" (submit)="placeBet($event, team.value, amount.value); openBets = !openBets" #betForm>
          <select #team>
            <option [value]="data?.details?.team1_name">{{data?.details?.team1_name}}</option>
            <option [value]="data?.details?.team2_name">{{data?.details?.team2_name}}</option>
          </select>
          <input type="text" placeholder="Amount" #amount>
          <input type="submit" value="Place">
        </form>
      </div>

      <h4>Bets</h4>
      <ul *ngIf="bets.length">
        <li *ngFor="let bet of bets">
          <span>${{bet.amount}}</span>
          <span>{{bet.team}}</span>
        </li>
      </ul>
    </div>

  </div>

  <div *ngIf="data?.type === 'team'" class="teamDetails">
    <h1>{{data?.details.name}}</h1>
    <span>{{data?.details?.organization}}</span>
    <div class="stats">
      <span>{{data?.details?.wins}} Wins</span>
      <span>{{data?.details?.losses}} Losses</span>
    </div>

    <h3>Players</h3>
    <div class="playerList">
      <table *ngIf="teamPlayers.length">
        <tr class="headers">
          <th>Name</th>
          <th>Wins</th>
          <th>Losses</th>
        </tr>

        <tr *ngFor="let player of teamPlayers">
          <td>{{player?.name}}</td>
          <td>{{player?.wins}}</td>
          <td>{{player?.losses}}</td>
        </tr>
      </table>
    </div>
  </div>

</div>
