.details__content {
  padding: 24px;
  background-color: white;
  border-radius: 12px;
  margin: 0 24px;

  .orgDetails {
    h1 {
      margin-left: 24px;
    }


    .orgMain {
      display: flex;
      justify-content: space-around;

      .orgTeams {
        max-height: 80vh;
        overflow-y: scroll;
        padding: 12px;
        width: 20%;

        table {
          width: 100%;
          border-collapse: separate;
          border-spacing: 0 0.5em;

          .headers {
            font-size: 1.4rem;
            background-color: white;
            border-radius: 12px;
            position: sticky;
            top: 10px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

            th {
              border-radius: 12px;
              padding: 12px;
              text-align: left;
            }
          }
          tr {
            margin-bottom: 12px;
            cursor: pointer;

            &:hover:not(.headers) {
              background-color: #ecf0f1;
            }

            td {
              padding: 12px;
              font-size: 1rem;

              .trackImage {
                height: 48px;
                aspect-ratio: 1;
              }
            }
          }
        }
      }

      .orgAnnouncements {
        width: 80%;
        padding: 0 24px;
        text-align: center;
        position: relative;

        button.create {
          position: absolute;
          right: 24px;
          top: 0;
          border: none;
          outline: none;
          background-color: #fafafa;
          font-size: 18px;
          padding: 8px;
          border-radius: 12px;
          box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
        }

        ul {
          margin-top: 24px;
          max-height: calc(80vh - 57px);
          overflow-y: scroll;
          margin-bottom: 0 !important;
          text-align: left;
          border: 1px solid #ecf0f1;
          border-radius: 12px;
          padding: 24px;

          li {
            list-style: none;
            position: relative;
            border: 1px solid #ecf0f1;
            border-radius: 12px;
            padding: 24px;
            overflow-x: hidden;

            &:not(:last-child) {
              margin-bottom: 24px;
            }

            h4 {
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              width: calc(100% - 100px);
            }
            .author {
              display: block;
              font-size: 14px;
              margin-bottom: 12px;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              width: 100%;
            }
            .body {
              display: block;
              font-size: 18px;
            }
            .date {
              display: block;
              font-size: 14px;
            }

            button {
              border: none;
              position: absolute;
              right: 24px;
              top: 12px;
              padding: 6px 16px;
              border-radius: 12px;
              font-size: 16px;
            }
          }
        }
      }
    }
  }

  .teamDetails {

  }

  .matchDetails {

  }
}
