body {
  background-color: #ecf0f1;
  font-family: "Lucida Console";
}

select {
  margin: 6px 12px;
  padding: 8px;
  background-color: #fafafa;
  border-radius: 12px;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  outline: none;
  font-size: 18px;
}

.UsersModalClass .modal-dialog {
  max-width: 1000px !important;
}

.FantasyModalClass .modal-dialog {
  max-width: calc(100% - 48px) !important;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
