<div class="header">

  <app-search *ngIf="!details"></app-search>
  <div class="searchContainer">
    <button *ngIf="details" (click)="back()">Back</button>
  </div>


  <div class="profile">
    <button class="popover-opener" [ngbPopover]="profile" placement="bottom-right" [autoClose]="'true'"></button>
  </div>

  <ng-template #profile>
    <div class="profile__options">
      <button (click)="logout()">Logout</button>
      <button (click)="openUsers()" *ngIf="user.access_level > 2">Users</button>
      <button (click)="openFantasyBuilder()" *ngIf="user.access_level > 0">Fantasy Team</button>
    </div>
  </ng-template>
</div>
