$image-path: '~src/assets/icons/';

.header {
  padding: 24px 8px;
  justify-content: space-between;
  display: flex;
  position: absolute;
  top: -10px;
  background-color: white;
  border-radius: 12px;
  width: 100%;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  .searchContainer {
    display: flex;
    margin: 0 24px;

    button {
      margin: 12.5px 0;
      font-size: 24px;
      height: 50px;
      width: 150px;
      border: none;
      border-radius: 12px;
      background-color: #fafafa;
      outline: none;
      box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    }
  }

  .profile {
    display: flex;
    margin: 0 24px;

    .popover-opener {
      padding: 12px;
      background: url("#{$image-path}profile.svg") 50% no-repeat;
      border-radius: 12px;
      width: 36px;
      height: 36px;
      outline: none;
      border: none;
      margin: auto;
    }

    &__options {
      button {
        margin: 10px auto;
        display: block;
        border: none;
        font-size: 24px;
        border-radius: 12px;
        padding: 12px;
        width: 100%;
      }
    }
  }
}
